<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef827adb1.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

   

</head>
<body>
    <header class="header">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        
        <nav class="nav">
            
            <div class="contenedor-flex1">
                <section class="logo-mercado-liebre">
                    <img src="images/logo-mercado-liebre.svg" alt="mercado-liebre" > 
                </section>
               <div class="barradebusqueda">
                        <input type="text" class="input-busqueda" placeholder="Buscar productos, marcas y mas">
                        <i class="fa-solid fa-magnifying-glass"></i>
               </div>       
                <div class="compra_en_cuotas">
                    <i class="fa-solid fa-hand-holding-dollar"></i><p class="fuente"> Compra en cuotas y tarjeta de Credito</p> 
                </div>
            </div>
            
           <div class="contenedor-flex2">
                     <ul class="enlaces">
                            <li> <a class ="enlace" href="#">Ofertas</a> </li>
                            <li><a class="enlace" href="#">Tiendas Oficiales</a> </li>
                            <li><a class="enlace" href="#">Vender</a> </li>
                            <li><a class="enlace" href="#">Ayuda</a> </li>
                     </ul> 
           

                <ul class="enlaces_de_registros">
                            <li><i class="fa-solid fa-user"></i>
                            <a href="/registro">Creá tu cuenta</a>
                            </li>
                            <li><i class="fa-solid fa-right-to-bracket"></i>
                            <a href="/login">Ingresá</a>
                            </li>
                            <li><i class="fa-solid fa-cart-shopping"></i>
                            <a href="#">Mis compras</a>
                            </li>
            </ul>
         </div>
        </nav>    
       
       
    </header>
    <div class="banner_container">
        <img class="img1"src="/images/img-home-banner.jpg" alt="Banner de ofertas"  >
    </div> 
   
    <main>  
        <h3 class="titulo_1">Basado en tu última visita</h3>
          <div class="display_container_main">
               <div class="zoom">
                    <section class="articulo" >
                        <i class="fa-solid fa-truck-arrow-right"></i>
                        <img src="/images/img-cafetera-moulinex.jpg"  width="340" alt="Cafetera" >
                        <h2 class="tamaño-fuente-precio">$6.770</h2>
                        <p>40% off</p>
                        <br>
                        <h4>Cafetera Moulinex</h4>
                    </section >  
              </div>
              <div class="zoom">
                    <section class="articulo">
                         <i class="fa-solid fa-truck-arrow-right"></i>
                         <img src="/images/img-macbook-pro-2019.jpg"  width="340"  alt="MacBook" >
                         <h2 class="tamaño-fuente-precio">$230.000</h2>
                         <p>20% off</p>
                         <br>
                        <h4>MacBook Pro 2019</h4>
                    </section>
            </div>
            <div class="zoom">
                    <section class="articulo">
                          <i class="fa-solid fa-truck-arrow-right"></i>
                          <img src="/images/img-samsung-galaxy-s10.jpg"  width="340" alt="Teléfono Móvil Samsung Galaxy">
                          <h2 class="tamaño-fuente-precio">$70.500</h2>
                          <p>10% off</p>
                          <br>
                          <h4>Teléfono móvil Samsung Galaxy S10</h4>
                   </section>   
            </div>
            <div class="zoom">
                   <section class="articulo">
                          <i class="fa-solid fa-truck-arrow-right"></i>
                          <img src="/images/img-tv-samsung-smart.jpg" width="340" alt="SmartTv Samsung">
                          <h2 class="tamaño-fuente-precio">$23.200</h2>
                          <p>5% off</p>
                          <br>
                          <h4>SmartTv Samsung 43"</h4>
                  </section>
           </div>
        </div>

        <h3 class="titulo_1">Ofertas</h3>
        <div class="display_container_main">
            <div class="zoom">
                 <section class="articulo" >
                     <i class="fa-solid fa-truck-arrow-right"></i>
                     <img src="/images/img-cafetera-moulinex.jpg"  width="340" alt="Cafetera" >
                     <h2 class="tamaño-fuente-precio">$6.770</h2>
                     <p>40% off</p>
                     <br>
                     <h4>Cafetera Moulinex</h4>
                 </section >  
           </div>
           <div class="zoom">
                 <section class="articulo">
                      <i class="fa-solid fa-truck-arrow-right"></i>
                      <img src="/images/img-macbook-pro-2019.jpg"  width="340"  alt="MacBook" >
                      <h2 class="tamaño-fuente-precio">$230.000</h2>
                      <p>20% off</p>
                      <br>
                     <h4>MacBook Pro 2019</h4>
                 </section>
         </div>
         <div class="zoom">
                 <section class="articulo">
                       <i class="fa-solid fa-truck-arrow-right"></i>
                       <img src="/images/img-samsung-galaxy-s10.jpg"  width="340" alt="Teléfono Móvil Samsung Galaxy">
                       <h2 class="tamaño-fuente-precio">$70.500</h2>
                       <p>10% off</p>
                       <br>
                       <h4>Teléfono móvil Samsung Galaxy S10</h4>
                </section>   
         </div>
         <div class="zoom">
                <section class="articulo">
                       <i class="fa-solid fa-truck-arrow-right"></i>
                       <img src="/images/img-tv-samsung-smart.jpg" width="340" alt="SmartTv Samsung">
                       <h2 class="tamaño-fuente-precio">$23.200</h2>
                       <p>5% off</p>
                       <br>
                       <h4>SmartTv Samsung 43"</h4>
               </section>
        </div>
     </div>
        </main>
    <footer >
        <section >
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </h5>
        </section>
        <section >
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <h5>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </h5>
        </section>
        <section >
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad, de principio a fin </h4>
            <h5>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </h5>
        </section>
            <br>
            <br>
        <section id="class_copyright">
            <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
        </section>
        

    </footer>
    
</body>
</html>